@model BushachFirstSchool.Models.SubjectModel.SubjectIndexViewModel


@{
    AjaxOptions ajaxOpts = new AjaxOptions
     {
         UpdateTargetId = "SubjectTable",
         Url = Url.Action("Add"),
         LoadingElementId = "loading",
         LoadingElementDuration = 1000,

     };
}

<div class="col-md-4  mini-panel" style="background-color:white">

    @using (Ajax.BeginForm("Add", ajaxOpts))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Тут можна додати новий предмет</legend>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.Subject.Name)</label>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.Subject.Name)
                    @Html.ValidationMessageFor(model => model.Subject.Name)
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.Subject.Teacher)</label>
                <div class="col-lg-9">
                    <select class="form-control" name="teacherId" placeholder="Вчителі">
                        @foreach(var item in Model.Teachers)
                        {
                             <option value="@item.TeacherId">@item.Surname &nbsp; @item.Name</option>
                           
                        }
                    </select>
                        @Html.ValidationMessageFor(model => model.Subject.Teacher)
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3 col-lg-offset-4">
                    <button type="submit" class="btn btn-primary">Додати</button>
                </div>
            </div>
        </fieldset>

    }
</div>