@model BushachFirstSchool.Domain.Entity.Teacher

@{
    ViewBag.Title = "Бучацька ЗОШ №1 Вчителі/Редагувати";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="col-md-6 col-md-offset-3 panel">
  


    @using (Html.BeginForm("Edit", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-to-fill" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <h4>Редагувати вчителя</h4>

        <ul>
            <li>
                <i class="fa fa-user form-icon"></i>

                @Html.EditorFor(model => model.Surname)
                @Html.ValidationMessageFor(model => model.Surname)

            </li>
            <li>
                <i class="fa fa-at form-icon"></i>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </li>
            <li>
                <i class="fa fa-at form-icon"></i>
                @Html.EditorFor(model => model.Lastname)
                @Html.ValidationMessageFor(model => model.Lastname)
            </li>
            <li>
                <i class="fa fa-at form-icon"></i>
                @Html.EditorFor(model => model.Work)
                @Html.ValidationMessageFor(model => model.Work)
            </li>
            <li>
                <i class="fa fa-at form-icon"></i>
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </li>
            <li>
                <i class="fa fa-university form-icon"></i>
                Виберіть фото
                <input type="file" id="PhotoBytes" name="PhotoBytes" />
            </li>

            <li>
                <input type="submit" placeholder="Submit" value="Підтвердити" />
            </li>
        </ul>
    }

    <div>
        <a href="@Url.Action("Index","Teacher")">
            <span class="glyphicon glyphicon-indent-right" aria-hidden="true">
            </span>
            Повернутися до списку
        </a>
    </div>

</div>
